<html>
    <head>
        <title>chart</title>
        <meta charset="utf-8">
        <title>图表</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    </head>
    <body>
        <div id='id-div-channels' class="top">
            <h1 id = 'id-div-channels-title'>图表</h1>
            <a class="chart-type" href="#" data-name="pie">饼图</a>
            <a class="chart-type" href="#" data-name="line">折线图</a>
            <a class="chart-type" href="#" data-name="bar">柱状图</a>
        </div>
        <div class="container">
            <div id="chartmain" class="content"></div>
            <div class="sidebar">
                {% for chart in all_charts %}
                    <div>
                        <a class="chart-select" data-id="{{ chart.id }}" href="#">
                            {{ chart.name }}
                        </a>
                        <button class="chart-delete btn btn-danger">删除</button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bottom">
            <button class='save btn btn-primary'>保存</button>
            <div class="todo-main">
                <!-- 输入框 -->
                <div class="todo-form">
                    <label>x 轴变量</label><input id='id-input-name' type="text">
                    <label>值(数字)</label><input id='id-input-value' type="text">
                    <button id='id-button-add' class="btn btn-primary" type="button">添加</button>
                </div>
                <!-- 列表 -->
                <div id="id-div-container">
                </div>
            </div>
        </div>
    </body>
    <script>
        // 图表配置
        var option = null
        var createOption = function () {
            // 指定图表的配置项和数据
            option = {
                title: {
                    text: 'ECharts'
                },
                tooltip: {},
                legend: {
                    data: []
                    // data:['销量']
                    // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                xAxis: {
                    // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    data: []
                },
                yAxis: {},
                series: [
                    {
                        name: '{{ name }}',
                        type: 'bar',  // bar柱状图 line折线图 pie饼状图
                        data: [
                            // 5, 20, 36, 10, 10, 20
                            // {value: 5, name: '衬衫'},
                            // {value: 20, name: '羊毛衫'},
                            // {value: 36, name: '雪纺衫'},
                            // {value: 10, name: '裤子'},
                            // {value: 10, name: '高跟鞋'},
                            // {value: 20, name: '袜子'},
                        ],
                    },
                ]
            };
            return option
        }
    </script>
    <script src="{{ url_for('static', filename='js/gjh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</html>
